$light_green: #40D29D;
$light_blue: #5DADE2 ;
$light_yellow: #F7DC6F;
$bluegrey_dark: #1C2833;
$bluegrey_medium: #2C3E50;
$bluegrey_light: #D6DBDF;
$bluegrey_lightest: #EAECEE;

.fe-light-green-text {
    color: $light_green;
}

.fe-light-green-bg {
    background-color: $light_green;
}

.fe-light-blue-text {
    color: $light_blue;
}

.fe-light-blue-bg {
    background-color: $light_blue;
}

.fe-light-yellow-text {
    color: $light_yellow;
}

.fe-light-yellow-bg {
    background-color: $light_yellow;
}

.fe-bluegrey-dark-text {
    color: $bluegrey_dark;
}

.fe-bluegrey-dark-bg {
    background-color: $bluegrey_dark;
}

.fe-bluegrey-medium-text {
    color: $bluegrey_medium;
}

.fe-bluegrey-medium-bg {
    background-color: $bluegrey_medium;
}

.fe-bluegrey-light-text {
    color: $bluegrey_light;
}

.fe-bluegrey-light-bg {
    background-color: $bluegrey_light;
}

.fe-bluegrey-lightest-text {
    color: $bluegrey_lightest;
}

.fe-bluegrey-lightest-bg {
    background-color: $bluegrey_lightest;
}

// rgb(247, 220, 111)
// rgb(214, 219, 223)
// rgb(93, 173, 226)
// rgb(234, 236, 238)
// rgb(28, 40, 51)
// rgb(64, 210, 157)