@use "./base/colors" as c;

@import url('https://unpkg.com/css.gg@2.0.0/icons/css/arrow-down.css');

.box-anim-1 {
    width: 96px;
    height: 96px;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-name: animateBackground; 
}

@keyframes animateBackground {
    from {
        background-color: c.$dodgerblue-08;
    }

    to {
        background-color: c.$mediumspringgreen-05;
    }
}

.multi-container {
    width: 256px;
    height: 64px;
    border-radius: 4px;
}

.multi-container div {
    border-radius: 4px;
}

.boxy-1 {
    width: 56px;
    height: 56px;
    background-color: c.$darkslategray-08;
    animation-duration: 1s;
    animation-name: boxyFadeIn;
}

.boxy-2 {
    width: 56px;
    height: 56px;
    background-color: c.$darkslategray-08;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
    animation-name: boxyFadeIn;
}

.boxy-3 {
    width: 56px;
    height: 56px;
    background-color: c.$darkslategray-08;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    animation-name: boxyFadeIn;
}

@keyframes boxyFadeIn {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}