@use "./base/colors" as c;

#ListContainer {
    width: 256px;
}

.list-header {
    background-color: c.$gray-ui-500;
    padding: 0.285rem;
}

.list-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-title span {
    flex-grow: 1;
}

.list-item-root {
    background-color: c.$gray-ui-600;
    //border-top: 0.285rem solid c.$gray-tint-800;
    // padding-top: 0.285rem;
    // padding-bottom: 0.285rem;
}

.list-item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.285rem;
}

.list-item-content span {
    flex-grow: 1;
}

.list-item-detail-expander {

}

.list-item-detail-expander button {
    width: 100%;
}