@use "./base/colors" as c;

#ListContainer {
    border-width: 1px;
    border-style: solid;
    border-color: c.$gray-tint-700;
}

.list-header {
    background-color: c.$gray-ui-500;
    padding: 0.285rem;
}

.list-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-title span {
    flex-grow: 1;
}

.list-item-root {
    background-color: c.$gray-ui-700;
}

.list-item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.285rem;
    border-top: 1px solid c.$gray-tint-800;
}

.list-item-content span {
    flex-grow: 1;
}

.list-item-detail-expander {

}

.list-item-detail-expander button {
    width: 100%;
    border-left: none;
    border-top: 1px solid c.$gray-tint-800;
    border-right: none;
    border-bottom: none;
}

.list-item-detail-expander button:hover {
    width: 100%;
    border-left: none;
    border-top: 1px solid c.$gray-tint-800;
    border-right: none;
    border-bottom: none;
}

.list-item-detail-expander button:active {
    width: 100%;
    border-left: none;
    border-top: 1px solid c.$gray-tint-800;
    border-right: none;
    border-bottom: none;
}

.list-item-detail-panel {
    border-top: 1px solid c.$gray-tint-800;
    padding: 4px;
}