.showcase-container-bg {
    background: radial-gradient(circle, #1d293d, #12141e)
}

.showcase-card {
    color: #bebfc5;
    background-color: #12141e;
    border: 1px solid #3f4355;
    border-radius: 4px;
    padding: 1rem;
}