/* 
Author: Nicholas Fazzolari
Date: 12/26/2023
Description:
Core CSS that produces a classic header/main/footer layout
where the main has a sidebar, and both scroll in the main container.
*/
.lay-ex1-root-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.lay-ex1-main-container {
    display: flex;
    flex: 1;
    overflow: auto;
}

.lay-ex1-sidebar {
    width: 232px;
    background-color: #dfdfdf;
    overflow: auto;
    padding: 1rem;
}

.lay-ex1-content {
    flex: 1;
    overflow: auto;
    padding: 1rem;
}

.lay-ex1-header,
.lay-ex1-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.dev-height-setter {
    background-color: rgb(78, 211, 149);
    border-radius: 4px;
}

// Add some dimension labels
