.lay-ex1-root-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.lay-ex1-main-container {
    display: flex;
    flex: 1;
    overflow: auto;
}

.lay-ex1-sidebar {
    width: 200px;
    background-color: #dfdfdf;
    overflow: auto;
    padding: 1rem;
}

.lay-ex1-content {
    flex: 1;
    overflow: auto;
    padding: 1rem;
}

.lay-ex1-header,
.lay-ex1-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}