<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/jpg" href="./dist/img/Favicon_v2.png" />
    <title>Front End Starter Template</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="./dist/css/styles.css">
</head>

<body>
    <div>
        <input id="PositionRange" type="range" min="-256" max="256">
    </div>

    <div class="border position-container-box">
        <p id="TextToMove" class="move-me">Text to move around</p>
        <p id="SliderValue"></p>
    </div>

    <div id="MouseWheelScrollBox" class="border position-container-box">
        <p id="TextToMove01" class="move-me">Text element to move</p>
        <p id="ScrollNotice"></p>
    </div>

    <div class="border position-container-box">
        <p id="DragParaEl">Drag Me!</p>
        <p id="DragNotice"></p>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="./node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <!-- Custom JS -->
    <script src="./dist/js/main.js"></script>

</body>

</html>